*,
*::before,
*::after {
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(11deg, rgba(238, 174, 202, 1) 0%, rgba(202, 179, 214, 1) 30%, rgba(191, 181, 218, 1) 49%, rgba(160, 185, 229, 1) 61%, rgba(148, 187, 233, 1) 84%, rgba(129, 149, 176, 1) 100%);
}

h1 {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 4rem;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover {
    background-color: rgba(255, 255, 255, .9);
    font-size: 2.5rem;
}

.span-two {
    grid-column: span 2;
    color: rgba(150, 3, 3, 0.945);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}